# EditorConfig is awesome: https://EditorConfig.org
# 配合 ktlint 静态分析使用, 让 IDE 和 CI 风格一致

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 160
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^

[*.{json,yml,yaml,xml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off
